<div class="<%= location  %>"> <!--location nos permite tener un css dinámico, esta variable se define en cada vista layout, y en el css especifico de cada una-->
  <div><%= link_to "Inicio", root_path%></div>
  <div><%= link_to "Sobre mí", about_me_path%></div>
  <div><%= link_to "Contacto", contact_path%></div>
  <div><%= link_to "Blog", blogs_path%></div>
  <div><%= link_to "Portfolio", portfolios_path%></div>
</div>